 * {
    box-sizing: border-box;
}

@media (min-width: 1110px){

body {
    width:1110px;
    margin:auto;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows:8px 26px 61px 300px 28px 183px 71px 129px 40px;
    column-gap: 30px;
}

#logo {
    position: absolute;
    margin:0;
}

a#bouton-menu {
    display: none;
}

ul {
    grid-row:2/3;
    display:flex;
    list-style-type:none;
    padding: 0;
    margin: 0px 0px 0px 639px;
    width: 471px;
    font-size: 15px;
}

li {
    margin:0px 0px 0px 40px;
    flex-direction: row-reverse;
    justify-content:flex-end;
    flex-basis: auto;
    cursor: pointer;
}

li:hover {
    color: hsl(5, 85%, 63%);
}

.article-principal_full {
    display: block;
    width:730px;
    height: 300px;
    grid-area: 4/1/5/3;
}

.article-principal_mobile {
    display: none;
}

h1.article-principal  {
    grid-area: 6/1/7/2;
    font-size: 56px;
    line-height: 56px;
    margin:0px auto auto 0px;
}

p.article-principal {
    grid-area:6/2/7/3;
    margin:0px;
    padding:0px;
    font-size: 15px;
    line-height: 26px;
    color: hsl(236, 13%, 42%);
}

#read-more {
    grid-area:6/2/7/3;
    margin-top: 133px;
    width: 185px;
    height: 48px;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
}

#read-more:hover {
    background-color: hsl(240, 100%, 5%);
}

#read-more p{
    color: hsl(36, 100%, 99%);
    font-size: 14px;
    letter-spacing: 4.38px;
    text-align: center;
}

#news {
    background-color: black;
    grid-area: 4/3/7/4;
    padding:32px 24px;
}

h2 {
    margin:0px 0px 34px 0px;
    font-size: 40px;
    color: hsl(35, 77%, 62%);
}
h3 {
    font-size: 20px;
    color: hsl(36, 100%, 99%);
    margin:0px 0px 8px 0px;
    cursor: pointer;
}

h3:hover {
    color: hsl(35, 77%, 62%);
}

.article-new p {
    font-size: 15px;
    color: hsl(233, 8%, 79%);
    margin:0px;
}

.trait {
    display : inline-block;
    width: 302px;
    height: 1px;
    background: hsl(236, 13%, 42%);
    margin: 31px 0px;
}

h4 {
    color: hsl(233, 8%, 79%);
    font-size: 32px;
    margin:0;
}

h5 {
    color: hsl(240, 100%, 5%);
    font-size: 18px;
    margin:12px 0px 0px;
    cursor: pointer;
}

h5:hover {
    color: hsl(5, 85%, 63%);
}

#article-un {
    grid-area: 8/1/9/2;
}

#article-deux {
    grid-area: 8/2/9/3;
}

#article-trois {
    grid-area: 8/3/9/4;
}

[id*="article"] p {
    color: hsl(236, 13%, 42%);
    margin:12px 0px 0px;
    font-size: 15px;
}

#article-un img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-deux img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-trois img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}
}

@media (max-width: 1109px){

body {
    z-index: 1;
    position: relative;
    top: 0px;
    width:375px;
    height: 1872px;
    margin: 0px auto;
    padding: 0px 0px;
    font-family: 'Inter', sans-serif;
}

li:hover {
    color: hsl(5, 85%, 63%);
}

#logo {
    position: relative;
    top: 28px;
    bottom: 0px;
    left: 16px;
    width: 45px;
    height: 28px;
}

a#bouton-menu {
    z-index: 3;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 17px;
    margin: 0px 0px 0px 309px;
    top: 0px;
    cursor: pointer;
}

#icon-menu-croix {
    display: none;
    Z-index: 3;
}

ul#nav {
    display:none;
    position: absolute;
    width: 256px;
    height: 669px;
    margin: 0px 0px auto 119px;
    padding-top: 144px;
    padding-left: 24px;
    left: auto;
    top: 0px;
    z-index: 2;
    background-color: hsl(36, 100%, 99%);
    list-style-type:none;
    font-size: 18px;
    line-height: 24px;
}

div#griser {
    display:none;
    position: absolute;
    z-index: 1;
    width: 375px;
    height: 1872px;
    top: 0px;
    margin: 0px;
    background-color: hsla(240, 100%, 5%, 50%);
}

li {
    margin-bottom: 24px;
}

.article-principal_full {
    display: none;
}

.article-principal_mobile {
    z-index: 0;
    width: 343px;
    height: 300px;
    display: block;
    position: relative;
    margin-top: 32px;
    left: 16px;
}

h1.article-principal  {
    position: relative;
    width: 343px;
    font-size: 40px;
    line-height: 40px;
    margin: 24px auto auto 0px;
    font-weight: 800;
    left: 16px;
}

p.article-principal {
    position: relative;
    width: 343px;
    margin:16px 0px 24px 0px;
    padding:0px;
    font-size: 15px;
    line-height: 26px;
    color: hsl(236, 13%, 42%);
    left: 16px;
    font-weight: 400;
}

#read-more {
    position: relative;
    padding: 13px 0px 11px;
    width: 185px;
    height: 48px;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
    left: 16px;
}

#read-more:hover {
    background-color: hsl(240, 100%, 5%);
}

#read-more p{
    color: hsl(36, 100%, 99%);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 4.38px;
    text-align: center;
    margin: 0;
}

#news {
    position: relative;
    left: 16px;
    width: 343px;
    height: 489px;
    background-color: black;
    padding:24px 20px 24px 21px;
    margin: 64px 0px;

}

h2 {
    margin:0px 0px 34px 0px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
}
h3 {
    font-size: 20px;
    color: hsl(36, 100%, 99%);
    margin:0px 0px 8px 0px;
    cursor: pointer;
}

h3:hover {
    color: hsl(35, 77%, 62%);
}

.article-new p {
    font-size: 15px;
    line-height: 26px;
    color: hsl(233, 8%, 79%);
    margin:0px;
}

.trait {
    display : inline-block;
    width: 302px;
    height: 1px;
    background: hsl(236, 13%, 42%);
    margin: 29px 0px 31px;
}

h4 {
    color: hsl(233, 8%, 79%);
    font-size: 32px;
    line-height: 32px;
    margin:0;
}

h5 {
    color: hsl(240, 100%, 5%);
    font-size: 18px;
    line-height: 24px;
    margin:12px 0px 0px;
    cursor: pointer;
}

h5:hover {
    color: hsl(5, 85%, 63%);
}

#article-un {
    margin-bottom: 33px;
    position: relative;
    left: 16px;
    width: 343px;
}

#article-deux {
    margin-bottom: 33px;
    position: relative;
    left: 16px;
    width: 343px;
}

#article-trois {
    position: relative;
    left: 16px;
    width: 343px;
}

[id*="article"] p {
    color: hsl(236, 13%, 42%);
    margin:9px 0px 0px;
    font-size: 15px;
    line-height: 26px;
}

#article-un img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-deux img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-trois img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}
}
