 * {
    box-sizing: border-box;
}

body {
    width:1110px;
    margin:auto;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows:8px 26px 61px 300px 28px 183px 71px 129px 40px;
    column-gap: 30px;
}

#logo {
    position: absolute;
    margin:0;
}

ul {
    grid-row:2/3;
    display:flex;
    list-style-type:none;
    padding: 0;
    margin: 0px 0px 0px 639px;
    width: 471px;
    font-size: 15px;
}

li {
    margin:0px 0px 0px 40px;
    flex-direction: row-reverse;
    justify-content:flex-end;
    flex-basis: auto;
    cursor: pointer;
}

li:hover {
    color: hsl(5, 85%, 63%);
}

img.article-principal {
    width:730px;
    height: 300px;
    grid-area: 4/1/5/3;
}

h1.article-principal  {
    grid-area: 6/1/7/2;
    font-size: 56px;
    line-height: 56px;
    margin:0px auto auto 0px;
}

p.article-principal {
    grid-area:6/2/7/3;
    margin:0px;
    padding:0px;
    font-size: 15px;
    line-height: 26px;
    color: hsl(236, 13%, 42%);
}

#read-more {
    grid-area:6/2/7/3;
    margin-top: 133px;
    width: 185px;
    height: 48px;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
}

#read-more:hover {
    background-color: hsl(240, 100%, 5%);
}

#read-more p{
    color: hsl(36, 100%, 99%);
    font-size: 14px;
    letter-spacing: 4.38px;
    text-align: center;
}

#news {
    background-color: black;
    grid-area: 4/3/7/4;
    padding:32px 24px;
}

h2 {
    margin:0px 0px 34px 0px;
    font-size: 40px;
    color: hsl(35, 77%, 62%);
}
h3 {
    font-size: 20px;
    color: hsl(36, 100%, 99%);
    margin:0px 0px 8px 0px;
    cursor: pointer;
}

h3:hover {
    color: hsl(35, 77%, 62%);
}

.article-new p {
    font-size: 15px;
    color: hsl(233, 8%, 79%);
    margin:0px;
}

.trait {
    display : inline-block;
    width: 302px;
    height: 1px;
    background: hsl(236, 13%, 42%);
    margin: 31px 0px;
}

h4 {
    color: hsl(233, 8%, 79%);
    font-size: 32px;
    margin:0;
}

h5 {
    color: hsl(240, 100%, 5%);
    font-size: 18px;
    margin:12px 0px 0px;
    cursor: pointer;
}

h5:hover {
    color: hsl(5, 85%, 63%);
}

#article-un {
    grid-area: 8/1/9/2;
}

#article-deux {
    grid-area: 8/2/9/3;
}

#article-trois {
    grid-area: 8/3/9/4;
}

[id*="article"] p {
    color: hsl(236, 13%, 42%);
    margin:12px 0px 0px;
    font-size: 15px;
}

#article-un img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-deux img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-trois img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}
