* {
    box-sizing: border-box;
}

body {
    width:1110px;
    margin:auto;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows:8px 26px 61px 300px 28px 183px 71px 129px 40px;
    column-gap: 30px;
}

#logo {
    position: absolute;
    margin:0;
}

ul {
    grid-row:2/3;
    display:flex;
    list-style-type:none;
    padding: 0;
    margin: 0px 0px 0px 639px;
    width: 471px;
    font-size: 15px;
}

li {
    margin:0px 0px 0px 40px;
    flex-direction: row-reverse;
    justify-content:flex-end;
    flex-basis: auto;
}

img.article-principal {
    width:730px;
    height: 300px;
    grid-area: 4/1/5/3;
}

h1.article-principal  {
    grid-area: 6/1/7/2;
    font-size: 56px;
    margin:0px auto auto 0px;
}

p.article-principal {
    grid-area:6/2/7/3;
}

#read-more {
    grid-area:6/2/7/3;
    margin-top: 133px;
}

#news {
    background-color: black;
    color:white;
    grid-area: 4/3/7/4;
    padding:32px 24px;
}

#article-un {
    grid-area: 8/1/9/2;
}

#article-deux {
    grid-area: 8/2/9/3;
}

#article-trois {
    grid-area: 8/3/9/4;
}

#article-un img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-deux img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}

#article-trois img{
    width:100px;
    height: auto;
    margin:0px 24px 0px 0px;
    float:left;
}
.attribution {
    grid-area:9/1/10/4;
    margin:auto;
}
